[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "*"
gunicorn = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
pillow = "*"
mock = "*"
install = "*"
psycopg2-binary = "*"
pydantic = "*"
drf-yasg = "*"
dj-database-url = "*"

[dev-packages]
pylint = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.10"